*{
    margin:0;
    font-family: Arial;
    border:border-box;
    
}
.arrange{
    display:inline-block;
    word-spacing:23px;
}
.navbar{
    height: 60px;
    background-color:#5f8686;
    color:white;
    display:flex;
    align-items:center;
}
.nav-logo{
    height:50px;
    width:100px;
}
.logo{
    background-image :url(logo2.jpg);
    background-size:cover;
justify-content:space-evenly;
    height: 50px;
    width: 100%;
}
.border { 
    border: 2px solid transparent;

}
.border hover {
    border:2px solid white;
}
.add-icon{
    display:flex;
    border:1;
}
.nav-search{
    display:flex;
    background-color:rgb(236, 230, 230);
    height:40px;
    width:1085px;
    color:white;
 border-radius: 4px;
 border:2px solid transparent;
 
}
.element{
    background-color: rgb(236, 229, 242);
    width:25px;
    text-align: center;
    border:none;
}
.search-icon{
    border:2px solid white;
    background-color: rgb(113, 113, 102);
}
.list{
    width:500px;
    background-color: bisque;

}
.sign li{
    list-style-type: none;
  text-align: center;
  margin: 0;
  color:green;
  padding: 0;
  display:inline-block
}
.options {
display:inline-block;
}
.main{
    background-image:url(image.jpg);
    height:400px;
    background-size:cover;
}
.shopping {

    display:flex;
    justify-content:evenly;
    background-color: rgb(247, 246, 245);
}
.box{
    height:400px;
    width:25%;
    background-color: azure;
    padding:20px opx 15px;
}

.pht{
    height:300px;
}


